# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Folders
CVS/

# Microsoft Files
*.[Ee]xe
*.[Ii]ni
*.[Oo]bj
*.exe
*.ncb
*.suo
Debug/
Release/

# Temporary Files
*$
*.BAK
*.Z
*.[0-9]0-9][0-9]
*.a
*.bak
*.elc
*.html
*.ln
*.obj
*.olb
*.old
*.orig
*.rej
*~
,*
.#*
.#* 
.*.swp
.DS_Store
.del-*
.make.state
.nse_depinfo
.svn/
CVS.adm
RCS
RCSLOG
SCCS
TAGS
_$*
core
cvslog.*
t.*
tags
